// fonts:
$font_family_main: 'Nunito Sans', sans-serif;
$font_family_title: 'Roboto Condensed', sans-serif;
$font_family_player: 'Roboto Condensed', sans-serif;
$font-family: 'Roboto Condensed', sans-serif;

// breakpoints:
$breakpoint_sm: 400px;
$breakpoint_md: 770px;
$breakpoint_lg: 1150px;
$breakpoint_xl: 1440px;

// max-widths:
$max_width_md: 690px;
$max_width_lg: 930px;
$max_width_xl: 1140px;

$height_header: 65px;