@import '../../scss/settings/vars';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  height: $height_header;
  padding: 0 60px;
  background: rgb(33, 150, 243);
  z-index: 1;
  color: #fff;

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;

  }
}

.menu {
  left: 0;
  right: 0;
  height: 100%;
  display: flex;

  color: var(--color);
  background: var(--bg-color);
  transition: top 0.5s, visibility 0.5s;


  @media (min-width: $breakpoint_lg) {
    flex-direction: row;
    margin-left: auto;
    top: 0;
    position: relative;
    z-index: 1;
    visibility: visible;
  }

  &.active {
    top: var(--height-header-xs);
    visibility: visible;
  }

  &.dark {
    opacity: 1;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  color: currentColor;

  &:hover {
    background: rgb(30, 136, 229);
    cursor: pointer;
    transform: scale(1.1);
  }

  @media (min-width: $breakpoint_lg) {
    border: none;
    font-size: 18px;
    margin-left: 40px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint_lg) {
    font-size: 20px;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }
}

a:global.active {
  background: rgb(30, 136, 229);
}